.boxes {
    width: 100px;
    height: 100px;
    background-color: red;
    float: left;
}

button {
    height: 20px;
    width: 100px;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    top: 50%;

}
